<!DOCTYPE html>
<html>
<head>
    <title>Login Fail</title>
    <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>
<body>
    <h1> Your login failed! </h1>
    <form action="login"> <input type ="submit"
    value= "Try Again"> </form>

</body>
</html>
