<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
   <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>

<body>
    <form class = 'forminfo' action = "login" method = "post">
        <div>
            <p>
                <label for="guess">Username:  </label>
                <input type="text" name="username"/>
            </p>
            <p>
                <label for="guess">Password:  </label>
                <input type="password" name="password"/>
            </p>
            <button type="submit">Login</button>
        </div>
    </form>

</body>
</html>