<!DOCTYPE html>
<html>
<head>
    <title>Logout</title>
    <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>
<body>
    <p>You have been logged out! <a href="login"> Login Again </a>
</body>
</html>