<!DOCTYPE html>
<html>
<head>
   <title>Login</title>
   <link rel='stylesheet' type = 'text/css' href='stylesheets/style.css'/>
</head>

<body>
    <p> Thank you for your submission! </p>

    <div> <form action="index"> <input type ="submit"
    value= "Add Another Contact"> </form> </div>

</body>
</html>

